

<table border="1" >

    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @articlees .each do |article| %>
        <tr>
            <td><%= article.title%></td>
            <td><%= article.description %></td>
            <td>Some Actions</td>
        </tr>
        <% end %>
        
    </tbody>
   
</table>